extends layout

block layout-content
  div.View.WelcomeView
    h1.Banner Crypto Task
    div.Message
      div.Title
        h3 Creating
        h1 Secure login
      span.Details TDAT3020 - Task08
    div.NavButtons
      a(href="/user")
          div.NavButton Login